li{
    list-style-type: none;
    padding-bottom:5px;
    display:inline;
    text-align: center;
}

.button{
    width: 150px;
    height: 150px
}

ul{
    display:flex;
    justify-content: space-between;
    margin-right: 30px;
}

h1{
    text-align: center;
}